body {
    min-height: 100vh;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 26px;
}

.header-container,
.footer {
    background: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin: 28px 320px;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin: 120px 320px;
    gap: 70px;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.title-header {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 8px 28px;
    margin: 0;
    font-weight: 550;
    border-radius: 10px;
    border: 2px solid #3882F6;
    cursor: pointer;
}

.image-header {
    background-color: grey;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 40px 400px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.horizontal-imgs {
    display: flex;
    align-items: center;
    gap: 70px;
}

.horizontal-imgs img {
    width: 173px;
    border: 3px solid #3882F6 ;
    border-radius: 15px;
}
.img-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    color: gray;
    text-align: center;
}

.gray-container {
    display: flex;
    flex-direction: column;    
    padding: 60px 458px;
    background: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    font-size: 25px;
    font-weight: 700;
    text-align: right;
}

.signup-container {
    padding: 100px 320px;
}

.blue-box {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    padding: 50px 138px;
    align-items: center;
}

.text-signup {
    color: #E5E7EB;
    font-size: 18px;
}

.call {
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.sign-up {
    border: 2px solid #F9FAF8;
    /* padding: 8px 28px; */
}

.footer {
    display: flex;
    padding: 40px 0;
    justify-content: center;
}