body {
    min-height: 100vh;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header-container,
.footer {
    background: #1F2937;
    color: white;
}